<component name="ArtifactManager">
  <artifact type="exploded-war" name="springdemo1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springdemo1_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springdemo1/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springdemo1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.7" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-core:9.0.19" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-annotations-api:9.0.19" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.5.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>